.jumbotron {
    padding-top: 2rem;
    background-color: #D9DEB2;
}

#foto {
    background-color: #D9DEB2;
}

#video {
    background-color: #f3f4f5;
}

#contact {
    background-color: #D9DEB2;
}

#footer {
    background-color: #9DC183;
}